#tipos {
    background-color: #CDCDCD;
}

.cor-azul {
    color: #4F5873
}

.cor-salmao {
    color: #F25244
}

footer {
    background-color: #ddd3d2;
    color: #FFFFFF
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}